/* 
-------------TYPOGRAPHY------------
-----FONT FAMILY---
Montserrat, Oaswald

-----FONT SIZES---

-----FONT WEIGHT---

-----LINE HEIGHT---

-----LETTER SPACING---


-----------COLORS----------
----GREY---
Base: 
Tint:
Shade: 
White: 
Black: 


----------SPACING SYSTEM--------


-----------BORDER RADIUS--------

*/

/* --------------------GLOBAL STYLES-------------------- */

:root {
    /* FONT SIZE */
    --text-xsm: 1.3rem;
    --text-base: 1.6rem;
    --text-paragraph: 2rem;
    --text-md: 2.5rem;
    --text-h2: 3rem;
    --text-h1-sm: 3.5rem;
    --text-h1-querie: 5rem;
    --text-h1: 6.2rem;

    /* FONT WEIGHT */
    --font-weight-light: 500;
    --font-weight-md: 600;
    --font-weight-bold: 800;

    /* LINE HEIGHT */
    --line-height-tight: 1.2;
    --line-height-normal: 1.5;

    /* LETTER SPACING */
    --letter-spacing-tight: -2px;
    --letter-spacing-loose: 0.5px;

    /* FONT FAMILY */
    --font-family-montserrat: 'Montserrat', sans-serif ;
    --font-family-oswald: 'Oswald', sans-serif;

    /* COLORS */
    --blue-base: #4da6ff;
    --blue-tint: #9dccfa;
    --blue-shade: #1a75d1;
    --grey-base: #495057;
    --grey-tint: #f1f3f5;
    --grey-shade: #212529;
    --white: #ffffff;
    --black: #000000;

    /* MISCELLANEOUS */
    --nav-height: 100px;
     
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}

body{
    font-family: var(--font-family-montserrat);
    color: var(--black);
    line-height: var(--line-height-normal);
}

.main-container {
    max-width: 2500px;
    width: 100%;
    margin: 0 auto;
    padding: 0; 
}

h1, h2 { 
    letter-spacing: var(--letter-spacing-tight);
    line-height: var(--line-height-tight);
}

h2, p, .new-features, .help-bar {
    font-weight: var(--font-weight-md);
}

h1 {
    font-weight: var(--font-weight-bold);
    font-size: var(--text-h1);
}

h2 {
    font-size: var(--text-h2);
}

p {
    font-size: var(--text-paragraph);
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    max-width: 1500px;
    width: 90%;
    margin: 0 auto;
    padding: 0 20px; 
}

.help-bar, .small-text {
    font-size: var(--text-xsm);
}

.new-featured {
    font-size: var(--text-base);
}

.small-text{
    font-weight: var(--font-weight-light);
}

.new-featured, .help-bar{
    font-weight: var(--font-weight-md);
}

.logo {
    width: 80px;
}

.sm-icons {
    width: 25px;
}

.footer, .search {
    font-size: var(--text-base);
}
.search {
    border: 2rem;
}

.black-link {
    color: var(--black);
}

.gray-links {
    color: var(--grey-base);
}

.md-img, .big-img, .spotlight, .its-better-img, .cta-image {
    max-width: 100%;
    height: auto; 
}



/* ---------------NAV BAR------------ */
.nav-bar{
    height: var(--nav-height);
    margin-bottom: 100px;
}


/* ----Help bar---- */
.help-bar {
    color: var(--black);
    height: 3rem;
    background-color: var(--grey-tint);
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 2rem;
} 


/* -----New featured---- */
.logo-row {
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

.new-featured {
    display: flex;
    gap: 2rem;
    padding-left: 18rem;
}

.icon-flex {
    display: flex;  
    align-items: center;
    gap: 2rem;
}


.search-icon {
    display: flex;
    border-radius: 50%;
    width: 3.8rem;
    height: auto;
}
.search-flex {
    background: var(--grey-tint);
    width: 18rem;
    height: 3.8rem;
    display: flex;
    border-radius: 7.5rem;
    gap: 1rem;
    align-items: center;
} 

/* ----Small text---- */
.small-text{
    height: 3rem;
    text-align: center; 
    background-color: var(--grey-tint);
    display: flex;
    justify-content: center;
    align-items: center;
}

.a-small-text {
    text-decoration: underline;
}



/* ---------------HERO SECTION----------- */
.hero-section {
    height: calc(100vh - var(--nav-height));
}

.main-heading {
    text-align: center;
    margin-bottom: 2rem;
}

.main-img {
    width: 100%;
    height: 60rem;
}

/* ---------------FEATURED SECTION------------ */
.features-section{
    margin-bottom: 20rem;
    margin-top: 10rem;
}
.grid-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: stretch;
    margin-bottom: 10rem;
    
}

.grid-2 {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2rem;
    overflow: auto;
}

/* --------------CTA SECTION-------------- */

.cta-section {
    text-align: center;
    margin-bottom: 10rem;
}
.spotlight {
    margin-bottom: 10rem;
    margin-top: 10rem;
}
.sm-img {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

/* ---------------FOOTER-------------- */
.footer {
    display: flex;
    gap: 4rem;
}


/* -------------------SIGN-UP FORM------------- */
/* -------------global styles-------- */
.sign-up-h1 {
    font-size: var(--text-h1-sm);
    font-weight: var(--font-weight-md);
    margin-bottom: 10px;
    text-align: center;
}

.divider {
    display: flex;
    align-items: center;
    text-align: center;
}

.divider::before, .divider::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid var(--grey-base);
}

.divider span {
    font-size: var(--text-base);
    color: var(--grey-base);
    padding: 0 10px;
}

.sign-up-label {
    font-size: var(--text-base);
    color: var(--black);
    font-weight: var(--font-weight-md);
}

.btn {
    font-size: var(--text-md);
    padding: 0.5rem 5rem;
    border-radius: 10px;
    font-weight: var(--font-weight-md);
}

.google-button {
    text-align: center;
    color: var(--black);
    border: 2px solid var(--grey-base);
    margin-bottom: 5px;
}

.create-button {
    background-color: var(--blue-base);
    color: var(--white);
    padding: 1rem 1rem;
    border: 2px solid var(--blue-base);
}

.create-button:hover, .create-button:active {
    color: var(--white);
    background-color: var(--blue-shade);
    border: 2px solid var(--blue-shade);
    transform: scale(1.05, 1.05);
    box-shadow: 0px 3px 6px var(--grey-base);
}

.content-border {
    height: 5rem;
    border-radius: 10px; 
    border: 2px solid var(--grey-base);
}

.sign-up-container {
    height: 100vh;
    background-color: var(--grey-tint);
    display: flex;
    justify-content: center;
    align-items: center;
}

.imm-container {
    /* height: 100vh; */
    max-width: 600px;
    width: 100%;
    margin: 0;
    padding: 5rem;
    background-color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0 3px 6px var(--grey-base);
}

.sign-up-form {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 1rem;
}

.checkbox-flex {
    display: flex;
    gap: 10px;
    align-items: start;
    margin-top: 5px;
}

.checkbox-txt {
    font-size: var(--text-base);
}

.signup-login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10rem;
    background-color: var(--grey-tint);
}

.log-in-flex {
    font-size: var(--text-xsm);
    display: flex;
    justify-content: space-between;
}